<body>
    <div *ngIf="showSuccessMessages" class="alert alert-success" role="alert">
        Jogo cadastrado com sucesso!
    </div>
    <div *ngIf="showErrorMessages" class="alert alert-danger" role="alert">
        Erro ao cadastrar jogo!
    </div>
    <h2 id="titulo">Cadastro de Jogo</h2>
    <br>
    <div class="container">
        <form [formGroup]="formGroup"> 
            <div class="row">
                <div class="col-sm-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" 
                placeholder="Digite o nome do jogo"
                formControlName="nome">
                <div class="invalid-feedback"
                [style.display]="formGroup.controls.nome.invalid
                && formGroup.controls.nome.touched ? 'block' : 'none'">Digite o nome corretamente.
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <label for="quantidade" class="form-label">Quantidade Disponível</label>
                <input type="number" class="form-control" id="quantidade" 
                placeholder="Digite a quantidade disponível"
                formControlName="quantidade">
                <div class="invalid-feedback"
                [style.display]="formGroup.controls.quantidade.invalid
                && formGroup.controls.quantidade.touched ? 'block' : 'none'">Digite a quantidade corretamente.
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="preco" class="form-label">Preço</label>
                    <div class="input-group">
                        <div class="input-group-text">R$</div>
                        <input type="text" class="form-control" id="preco"
                        placeholder="0.00"
                        formControlName="preco">
                    </div>
                    <div class="invalid-feedback"
                    [style.display]="formGroup.controls.preco.invalid
                    && formGroup.controls.preco.touched ? 'block' : 'none'">Digite o preço corretamente.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select class="form-select" aria-label="categoria" id="categoria" formControlName="categoria">
                        <option value="" selected>Selecione a categoria do jogo</option>
                        <option *ngFor="let tipoJogo of tipoJogos" [value]="tipoJogo.tipo">{{ tipoJogo.tipo }}</option>
                    </select>
                    <div class="invalid-feedback"
                    [style.display]="formGroup.controls.categoria.invalid
                    && formGroup.controls.categoria.touched ? 'block' : 'none'">Selecione uma categoria.
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm">
                <label for="desc" class="form-label">Descrição</label>
                <textarea class="form-control" id="desc" rows="3"
                placeholder="Digite uma descrição do jogo"
                formControlName="desc"></textarea>
                <div class="invalid-feedback"
                [style.display]="formGroup.controls.desc.invalid
                && formGroup.controls.desc.touched ? 'block' : 'none'">Não deixe a descrição em branco.
                </div>
            </div>
            <br>
            <div class="col-sm">
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem</label>
                    <input type="file" class="form-control" id="imagem" (change)="selectFile($event)"
                    formControlName="imagem">
                    <div class="invalid-feedback"
                    [style.display]="formGroup.controls.imagem.invalid
                    && formGroup.controls.imagem.touched ? 'block' : 'none'">Selecione uma imagem.
                    </div>
                </div>
            </div>
            <br>
            <div class="button">
                <button (click)="salvar()" type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
    </body>