<div class="container-fluid">
    <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Procurar Jogo" aria-label="Search">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </form>
    </div>
    <br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Qntd em estoque</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Xadrez</td>
            <td>R$ 15,00</td>
            <td>6</td>
            <td><button class="btn btn-primary">Editar</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Uno</td>
            <td>R$ 8,00</td>
            <td>10</td>
            <td><button class="btn btn-primary">Editar</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>War</td>
            <td>R$ 25,00</td>
            <td>4</td>
            <td><button class="btn btn-primary">Editar</button></td>
        </tr>
    </tbody>
</table>