<br>
<h2 id="titulo">Fazer Login</h2>
<br>
<div class="container">
    <div class="col-sm">
      <label for="login" class="col-form-label">E-mail</label>
      <input type="login" id="login" class="form-control"
      placeholder="nome@exemplo.com" [formControl]="login">
    </div>    
  <br>
    <div class="col-sm">
      <label for="password" class="col-form-label">Senha</label>
      <input type="password" id="password" class="form-control"
      placeholder="Digite sua Senha" [formControl]="password">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Deve ter pelo menos 8 dígitos e 1 número.
      </span>
    </div>
    <div class="col-auto">
      <a href="#" onclick="recuperarSenha(event); return false;">
        Esqueceu sua senha?
      </a>
    </div>
  <br>
  <div class="button">
    <button class="btn btn-primary" (click)="realizarLogin()">Login</button>&nbsp;
    <button class="btn btn-primary" (click)="excluirConta()">Excluir</button>
  </div>
</div>