<br>
<h2 id="titulo">Fazer Login</h2>
<br>
<div class="container">
    <div class="col-sm">
      <label for="email" class="col-form-label">E-mail</label>
      <input type="email" id="email" class="form-control" aria-describedby="passwordHelpInline"
      placeholder="nome@exemplo.com">
    </div>    
  <br>
    <div class="col-sm">
      <label for="senha" class="col-form-label">Senha</label>
      <input type="password" id="senha" class="form-control" aria-describedby="passwordHelpInline"
      placeholder="Digite sua Senha">
    </div>
    <br>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Deve ter pelo menos 8 dígitos e 1 número.
      </span>
    </div>
  <br>
  <div class="button">
    <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</div>