<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let jogo of jogos;"  class="col-sm-4">
        <div  class="card h-100" style="width: 18rem;">
            <img src="{{jogo.imagem}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{jogo.nome}}</h5>
                <p class="card-text">{{jogo.desc}}</p>
                <h6 class="card-text">R$ {{jogo.preco }}</h6>
                <p class="card-text">Quantidade em Estoque: {{ jogo.quantidade }}</p>
                <button (click)="'/layout/pedidos'" class="btn btn-primary">Alugar Jogo</button>
            </div>
        </div>
    </div>
</div>